@model Lab29CustomPolicies.Models.Recipe

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dish)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dish)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Directions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Directions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublished)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublished)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
